/*
 *= require store/spree_frontend
*/

.gift_fields {
  display: none;
}

header .gift_field {
  text-align: right;
  float: right;

  label {
    font-size: 14px;
    font-weight: bold;
  }
}

.gift_field {
  width: 365px;
  margin-bottom: 10px;
  position: relative;

  .adjustment-advice {
    margin-left: 70px;
  }

  span.char-counter {
    position: absolute;
    bottom: 5px;
    right: 25px;
    color: gray;
  }

  input[type=text] {
    width: 290px;
  }

  label, input, textarea {
    display: inline-block;
    min-width: 60px;
  }

  input[type=checkbox] {
    margin-right: 10px;
  }

  textarea {
    width: 291px;
    height: 100px;
  }

  label {
    margin-right: 10px;

    &:after {
      content: ': '
    }
  }
}
